<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.business.quantization.dao.mapper.CollectionPolicyMapper">

    <update id="updateExMsgAndRunCount"  >
        update collection_policy set ex_msg=#{exMsg},run_count=run_count+1 where policy_id =#{policyId}
    </update>
    <update id="updatePreRunTime"  >
        update collection_policy set pre_run_time=#{preRunTime},run_count=0,ex_msg='' where policy_id =#{policyId}
    </update>

</mapper>
