<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.business.quantization.dao.mapper.CollectionTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kk.business.quantization.dao.entity.CollectionTask">
        <id column="task_id" property="taskId" />
        <result column="name" property="name" />
        <result column="policy_id" property="policyId" />
        <result column="invoke_code" property="invokeCode" />
        <result column="invoke_method" property="invokeMethod" />
        <result column="invoke_params" property="invokeParams" />
        <result column="pre_run_time" property="preRunTime" />
        <result column="run_time" property="runTime" />
        <result column="finish_time" property="finishTime" />
        <result column="create_id" property="createId" />
        <result column="create_name" property="createName" />
        <result column="create_time" property="createTime" />
        <result column="run_count" property="runCount" />
        <result column="ex_msg" property="exMsg" />
        <result column="channel" property="channel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        task_id as 'taskId',
        name as 'name',
        policy_id as 'policyId',
        invoke_code as 'invokeCode',
        invoke_method as 'invokeMethod',
        invoke_params as 'invokeParams',
        pre_run_time as 'preRunTime',
        run_time as 'runTime',
        finish_time as 'finishTime',
        create_id as 'createId',
        create_name as 'createName',
        create_time as 'createTime',
        run_count as 'runCount',
        ex_msg as 'exMsg',
        channel as 'channel'

    </sql>
    <!-- 通用查询条件 -->
    <sql id="BaseWhere">
        <trim prefix="where" prefixOverrides="and | or">
           <if test="collectionTaskListReqVo.taskId != null and collectionTaskListReqVo.taskId != ''">
               and task_id = #{collectionTaskListVo.taskId}
           </if>
           <if test="collectionTaskListReqVo.name != null and collectionTaskListReqVo.name != ''">
               and name like concat('%',#{collectionTaskListVo.name},'%')
           </if>
           <if test="collectionTaskListReqVo.policyId != null and collectionTaskListReqVo.policyId != ''">
               and policy_id = #{collectionTaskListVo.policyId}
           </if>
           <if test="collectionTaskListReqVo.invokeCode != null and collectionTaskListReqVo.invokeCode != ''">
               and invoke_code = #{collectionTaskListVo.invokeCode}
           </if>
           <if test="collectionTaskListReqVo.invokeMethod != null and collectionTaskListReqVo.invokeMethod != ''">
               and invoke_method = #{collectionTaskListVo.invokeMethod}
           </if>
           <if test="collectionTaskListReqVo.invokeParams != null and collectionTaskListReqVo.invokeParams != ''">
               and invoke_params = #{collectionTaskListVo.invokeParams}
           </if>
           <if test="collectionTaskListReqVo.preRunTimeStart != null and collectionTaskListReqVo.preRunTimeStart != ''">
               and pre_run_time >= #{collectionTaskListVo.preRunTimeStart}
           </if>
           <if test="collectionTaskListReqVo.preRunTimeEnd != null and collectionTaskListReqVo.preRunTimeEnd != ''">
               and pre_run_time &lt;= #{collectionTaskListVo.preRunTimeEnd}
           </if>
           <if test="collectionTaskListReqVo.runTimeStart != null and collectionTaskListReqVo.runTimeStart != ''">
               and run_time >= #{collectionTaskListVo.runTimeStart}
           </if>
           <if test="collectionTaskListReqVo.runTimeEnd != null and collectionTaskListReqVo.runTimeEnd != ''">
               and run_time &lt;= #{collectionTaskListVo.runTimeEnd}
           </if>
           <if test="collectionTaskListReqVo.finishTimeStart != null and collectionTaskListReqVo.finishTimeStart != ''">
               and finish_time >= #{collectionTaskListVo.finishTimeStart}
           </if>
           <if test="collectionTaskListReqVo.finishTimeEnd != null and collectionTaskListReqVo.finishTimeEnd != ''">
               and finish_time &lt;= #{collectionTaskListVo.finishTimeEnd}
           </if>
           <if test="collectionTaskListReqVo.createId != null and collectionTaskListReqVo.createId != ''">
               and create_id = #{collectionTaskListVo.createId}
           </if>
           <if test="collectionTaskListReqVo.createName != null and collectionTaskListReqVo.createName != ''">
               and create_name like concat('%',#{collectionTaskListVo.createName},'%')
           </if>
           <if test="collectionTaskListReqVo.createTimeStart != null and collectionTaskListReqVo.createTimeStart != ''">
               and create_time >= #{collectionTaskListVo.createTimeStart}
           </if>
           <if test="collectionTaskListReqVo.createTimeEnd != null and collectionTaskListReqVo.createTimeEnd != ''">
               and create_time &lt;= #{collectionTaskListVo.createTimeEnd}
           </if>
           <if test="collectionTaskListReqVo.runCount != null and collectionTaskListReqVo.runCount != ''">
               and run_count = #{collectionTaskListVo.runCount}
           </if>
           <if test="collectionTaskListReqVo.exMsg != null and collectionTaskListReqVo.exMsg != ''">
               and ex_msg = #{collectionTaskListVo.exMsg}
           </if>
           <if test="collectionTaskListReqVo.channel != null and collectionTaskListReqVo.channel != ''">
               and channel = #{collectionTaskListVo.channel}
           </if>
        </trim>
    </sql>

    <!-- 分页查询 -->
    <select id="selectCollectionTaskPageList" resultType="com.kk.business.quantization.model.vobase.res.CollectionTaskListResVo">
        select <include refid="BaseColumnList"/>
        from collection_task
        <include refid="BaseWhere"/>

    </select>
    <select id="selectPreExecuteTask" resultType="com.kk.business.quantization.dao.entity.CollectionTask">
        select <include refid="BaseColumnList"/>
        from collection_task
        <trim prefix="where" prefixOverrides="and | or">
            <if test="vo.preRunTimeEnd != null ">
                and pre_run_time &lt; #{vo.preRunTimeEnd}
            </if>
            <if test="vo.runCount != null and vo.runCount != ''">
                and run_count &lt; #{vo.runCount}
            </if>
            <choose>
                <when test="vo.channel != null and vo.channel != ''">
                    and channel = #{vo.channel}
                </when>

                <otherwise>
                    and (channel is null or channel = '')
                </otherwise>
            </choose>
        </trim>
        order by pre_run_time
    </select>
    <update id="updateExMsgAndRunCount"  >
        update collection_task set ex_msg=#{exMsg},run_count=run_count+1,run_time=now(),pre_run_time =DATE_ADD(pre_run_time,INTERVAL 2 MINUTE )  where task_id =#{taskId}
    </update>


</mapper>
