<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.business.quantization.dao.mapper.CollectionTaskHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kk.business.quantization.dao.entity.CollectionTaskHistory">
        <id column="task_id" property="taskId" />
        <result column="name" property="name" />
        <result column="policy_id" property="policyId" />
        <result column="invoke_code" property="invokeCode" />
        <result column="invoke_method" property="invokeMethod" />
        <result column="invoke_params" property="invokeParams" />
        <result column="pre_run_time" property="preRunTime" />
        <result column="run_time" property="runTime" />
        <result column="finish_time" property="finishTime" />
        <result column="create_id" property="createId" />
        <result column="create_name" property="createName" />
        <result column="create_time" property="createTime" />
        <result column="run_count" property="runCount" />
        <result column="ex_msg" property="exMsg" />
        <result column="channel" property="channel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        task_id as 'taskId',
        name as 'name',
        policy_id as 'policyId',
        invoke_code as 'invokeCode',
        invoke_method as 'invokeMethod',
        invoke_params as 'invokeParams',
        pre_run_time as 'preRunTime',
        run_time as 'runTime',
        finish_time as 'finishTime',
        create_id as 'createId',
        create_name as 'createName',
        create_time as 'createTime',
        run_count as 'runCount',
        ex_msg as 'exMsg',
        channel as 'channel'

    </sql>
    <!-- 通用查询条件 -->
    <sql id="BaseWhere">
        <trim prefix="where" prefixOverrides="and | or">
           <if test="collectionTaskHistoryListReqVo.taskId != null and collectionTaskHistoryListReqVo.taskId != ''">
               and task_id = #{collectionTaskHistoryListVo.taskId}
           </if>
           <if test="collectionTaskHistoryListReqVo.name != null and collectionTaskHistoryListReqVo.name != ''">
               and name like concat('%',#{collectionTaskHistoryListVo.name},'%')
           </if>
           <if test="collectionTaskHistoryListReqVo.policyId != null and collectionTaskHistoryListReqVo.policyId != ''">
               and policy_id = #{collectionTaskHistoryListVo.policyId}
           </if>
           <if test="collectionTaskHistoryListReqVo.invokeCode != null and collectionTaskHistoryListReqVo.invokeCode != ''">
               and invoke_code = #{collectionTaskHistoryListVo.invokeCode}
           </if>
           <if test="collectionTaskHistoryListReqVo.invokeMethod != null and collectionTaskHistoryListReqVo.invokeMethod != ''">
               and invoke_method = #{collectionTaskHistoryListVo.invokeMethod}
           </if>
           <if test="collectionTaskHistoryListReqVo.invokeParams != null and collectionTaskHistoryListReqVo.invokeParams != ''">
               and invoke_params = #{collectionTaskHistoryListVo.invokeParams}
           </if>
           <if test="collectionTaskHistoryListReqVo.preRunTimeStart != null and collectionTaskHistoryListReqVo.preRunTimeStart != ''">
               and pre_run_time >= #{collectionTaskHistoryListVo.preRunTimeStart}
           </if>
           <if test="collectionTaskHistoryListReqVo.preRunTimeEnd != null and collectionTaskHistoryListReqVo.preRunTimeEnd != ''">
               and pre_run_time &lt;= #{collectionTaskHistoryListVo.preRunTimeEnd}
           </if>
           <if test="collectionTaskHistoryListReqVo.runTimeStart != null and collectionTaskHistoryListReqVo.runTimeStart != ''">
               and run_time >= #{collectionTaskHistoryListVo.runTimeStart}
           </if>
           <if test="collectionTaskHistoryListReqVo.runTimeEnd != null and collectionTaskHistoryListReqVo.runTimeEnd != ''">
               and run_time &lt;= #{collectionTaskHistoryListVo.runTimeEnd}
           </if>
           <if test="collectionTaskHistoryListReqVo.finishTimeStart != null and collectionTaskHistoryListReqVo.finishTimeStart != ''">
               and finish_time >= #{collectionTaskHistoryListVo.finishTimeStart}
           </if>
           <if test="collectionTaskHistoryListReqVo.finishTimeEnd != null and collectionTaskHistoryListReqVo.finishTimeEnd != ''">
               and finish_time &lt;= #{collectionTaskHistoryListVo.finishTimeEnd}
           </if>
           <if test="collectionTaskHistoryListReqVo.createId != null and collectionTaskHistoryListReqVo.createId != ''">
               and create_id = #{collectionTaskHistoryListVo.createId}
           </if>
           <if test="collectionTaskHistoryListReqVo.createName != null and collectionTaskHistoryListReqVo.createName != ''">
               and create_name like concat('%',#{collectionTaskHistoryListVo.createName},'%')
           </if>
           <if test="collectionTaskHistoryListReqVo.createTimeStart != null and collectionTaskHistoryListReqVo.createTimeStart != ''">
               and create_time >= #{collectionTaskHistoryListVo.createTimeStart}
           </if>
           <if test="collectionTaskHistoryListReqVo.createTimeEnd != null and collectionTaskHistoryListReqVo.createTimeEnd != ''">
               and create_time &lt;= #{collectionTaskHistoryListVo.createTimeEnd}
           </if>
           <if test="collectionTaskHistoryListReqVo.runCount != null and collectionTaskHistoryListReqVo.runCount != ''">
               and run_count = #{collectionTaskHistoryListVo.runCount}
           </if>
           <if test="collectionTaskHistoryListReqVo.exMsg != null and collectionTaskHistoryListReqVo.exMsg != ''">
               and ex_msg = #{collectionTaskHistoryListVo.exMsg}
           </if>
           <if test="collectionTaskHistoryListReqVo.channel != null and collectionTaskHistoryListReqVo.channel != ''">
               and channel = #{collectionTaskHistoryListVo.channel}
           </if>
        </trim>
    </sql>

    <!-- 分页查询 -->
    <select id="selectCollectionTaskHistoryPageList" resultType="com.kk.business.quantization.model.vobase.res.CollectionTaskHistoryListResVo">
        select <include refid="BaseColumnList"/>
        from collection_task_history
        <include refid="BaseWhere"/>

    </select>



</mapper>
