<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.business.quantization.dao.mapper.ConceptDailyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kk.business.quantization.dao.entity.ConceptDaily">
        <id column="concept_id" property="conceptId" />
        <id column="trade_date" property="tradeDate" />
        <result column="open" property="open" />
        <result column="high" property="high" />
        <result column="low" property="low" />
        <result column="close" property="close" />
        <result column="pre_close" property="preClose" />
        <result column="change" property="change" />
        <result column="pct_chg" property="pctChg" />
        <result column="vol" property="vol" />
        <result column="amount" property="amount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        concept_id as 'conceptId',
        trade_date as 'tradeDate',
        open as 'open',
        high as 'high',
        low as 'low',
        close as 'close',
        pre_close as 'preClose',
        change as 'change',
        pct_chg as 'pctChg',
        vol as 'vol',
        amount as 'amount'

    </sql>
    <!-- 通用查询条件 -->
    <sql id="BaseWhere">
        <trim prefix="where" prefixOverrides="and | or">
           <if test="conceptDailyListReqVo.conceptId != null and conceptDailyListReqVo.conceptId != ''">
               and concept_id = #{conceptDailyListReqVo.conceptId}
           </if>
           <if test="conceptDailyListReqVo.tradeDateStart != null and conceptDailyListReqVo.tradeDateStart != ''">
               and trade_date >= #{conceptDailyListReqVo.tradeDateStart}
           </if>
           <if test="conceptDailyListReqVo.tradeDateEnd != null and conceptDailyListReqVo.tradeDateEnd != ''">
               and trade_date &lt;= #{conceptDailyListReqVo.tradeDateEnd}
           </if>
           <if test="conceptDailyListReqVo.open != null and conceptDailyListReqVo.open != ''">
               and open = #{conceptDailyListReqVo.open}
           </if>
           <if test="conceptDailyListReqVo.high != null and conceptDailyListReqVo.high != ''">
               and high = #{conceptDailyListReqVo.high}
           </if>
           <if test="conceptDailyListReqVo.low != null and conceptDailyListReqVo.low != ''">
               and low = #{conceptDailyListReqVo.low}
           </if>
           <if test="conceptDailyListReqVo.close != null and conceptDailyListReqVo.close != ''">
               and close = #{conceptDailyListReqVo.close}
           </if>
           <if test="conceptDailyListReqVo.preClose != null and conceptDailyListReqVo.preClose != ''">
               and pre_close = #{conceptDailyListReqVo.preClose}
           </if>
           <if test="conceptDailyListReqVo.change != null and conceptDailyListReqVo.change != ''">
               and change = #{conceptDailyListReqVo.change}
           </if>
           <if test="conceptDailyListReqVo.pctChg != null and conceptDailyListReqVo.pctChg != ''">
               and pct_chg = #{conceptDailyListReqVo.pctChg}
           </if>
           <if test="conceptDailyListReqVo.vol != null and conceptDailyListReqVo.vol != ''">
               and vol = #{conceptDailyListReqVo.vol}
           </if>
           <if test="conceptDailyListReqVo.amount != null and conceptDailyListReqVo.amount != ''">
               and amount = #{conceptDailyListReqVo.amount}
           </if>
        </trim>
    </sql>

    <!-- 分页查询 -->
    <select id="selectConceptDailyPageList" resultType="com.kk.business.quantization.model.vobase.res.ConceptDailyListResVo">
        select <include refid="BaseColumnList"/>
        from concept_daily
        <include refid="BaseWhere"/>

    </select>



</mapper>
