<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.business.quantization.dao.mapper.ConceptDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kk.business.quantization.dao.entity.ConceptDetail">
        <id column="concept_id" property="conceptId" />
        <id column="ts_code" property="tsCode" />
        <result column="concept_name" property="conceptName" />
        <result column="name" property="name" />
        <result column="in_date" property="inDate" />
        <result column="out_date" property="outDate" />
        <result column="symbol" property="symbol" />
        <result column="weight" property="weight" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        concept_id as 'conceptId',
        concept_name as 'conceptName',
        ts_code as 'tsCode',
        name as 'name',
        in_date as 'inDate',
        out_date as 'outDate',
        symbol as 'symbol',
        weight as 'weight'

    </sql>
    <!-- 通用查询条件 -->
    <sql id="BaseWhere">
        <trim prefix="where" prefixOverrides="and | or">
           <if test="conceptDetailListReqVo.conceptId != null and conceptDetailListReqVo.conceptId != ''">
               and concept_id = #{conceptDetailListReqVo.conceptId}
           </if>
           <if test="conceptDetailListReqVo.conceptName != null and conceptDetailListReqVo.conceptName != ''">
               and concept_name like concat('%',#{conceptDetailListReqVo.conceptName},'%')
           </if>
           <if test="conceptDetailListReqVo.tsCode != null and conceptDetailListReqVo.tsCode != ''">
               and ts_code = #{conceptDetailListReqVo.tsCode}
           </if>
           <if test="conceptDetailListReqVo.name != null and conceptDetailListReqVo.name != ''">
               and name like concat('%',#{conceptDetailListReqVo.name},'%')
           </if>
           <if test="conceptDetailListReqVo.inDateStart != null and conceptDetailListReqVo.inDateStart != ''">
               and in_date >= #{conceptDetailListReqVo.inDateStart}
           </if>
           <if test="conceptDetailListReqVo.inDateEnd != null and conceptDetailListReqVo.inDateEnd != ''">
               and in_date &lt;= #{conceptDetailListReqVo.inDateEnd}
           </if>
           <if test="conceptDetailListReqVo.outDateStart != null and conceptDetailListReqVo.outDateStart != ''">
               and out_date >= #{conceptDetailListReqVo.outDateStart}
           </if>
           <if test="conceptDetailListReqVo.outDateEnd != null and conceptDetailListReqVo.outDateEnd != ''">
               and out_date &lt;= #{conceptDetailListReqVo.outDateEnd}
           </if>
           <if test="conceptDetailListReqVo.symbol != null and conceptDetailListReqVo.symbol != ''">
               and symbol = #{conceptDetailListReqVo.symbol}
           </if>
           <if test="conceptDetailListReqVo.weight != null and conceptDetailListReqVo.weight != ''">
               and weight = #{conceptDetailListReqVo.weight}
           </if>
        </trim>
    </sql>

    <!-- 分页查询 -->
    <select id="selectConceptDetailPageList" resultType="com.kk.business.quantization.model.vobase.res.ConceptDetailListResVo">
        select <include refid="BaseColumnList"/>
        from concept_detail
        <include refid="BaseWhere"/>

    </select>



</mapper>
