<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.business.quantization.dao.mapper.ConceptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kk.business.quantization.dao.entity.Concept">
        <id column="code" property="code" />
        <result column="name" property="name" />
        <result column="src" property="src" />
        <result column="exchange" property="exchange" />
        <result column="list_date" property="listDate" />
        <result column="type" property="type" />
        <result column="count" property="count" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        code as 'code',
        name as 'name',
        src as 'src',
        exchange as 'exchange',
        list_date as 'listDate',
        type as 'type',
        count as 'count'

    </sql>
    <!-- 通用查询条件 -->
    <sql id="BaseWhere">
        <trim prefix="where" prefixOverrides="and | or">
           <if test="conceptListReqVo.code != null and conceptListReqVo.code != ''">
               and code = #{conceptListReqVo.code}
           </if>
           <if test="conceptListReqVo.name != null and conceptListReqVo.name != ''">
               and name like concat('%',#{conceptListReqVo.name},'%')
           </if>
           <if test="conceptListReqVo.src != null and conceptListReqVo.src != ''">
               and src = #{conceptListReqVo.src}
           </if>
           <if test="conceptListReqVo.exchange != null and conceptListReqVo.exchange != ''">
               and exchange = #{conceptListReqVo.exchange}
           </if>
           <if test="conceptListReqVo.listDateStart != null and conceptListReqVo.listDateStart != ''">
               and list_date >= #{conceptListReqVo.listDateStart}
           </if>
           <if test="conceptListReqVo.listDateEnd != null and conceptListReqVo.listDateEnd != ''">
               and list_date &lt;= #{conceptListReqVo.listDateEnd}
           </if>
           <if test="conceptListReqVo.type != null and conceptListReqVo.type != ''">
               and type = #{conceptListReqVo.type}
           </if>
           <if test="conceptListReqVo.count != null and conceptListReqVo.count != ''">
               and count = #{conceptListReqVo.count}
           </if>
        </trim>
    </sql>

    <!-- 分页查询 -->
    <select id="selectConceptPageList" resultType="com.kk.business.quantization.model.vobase.res.ConceptListResVo">
        select <include refid="BaseColumnList"/>
        from concept
        <include refid="BaseWhere"/>

    </select>



</mapper>
