<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.business.quantization.dao.mapper.DailyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kk.business.quantization.dao.entity.Daily">
        <id column="ts_code" property="tsCode" />
        <id column="trade_date" property="tradeDate" />
        <result column="open" property="open" />
        <result column="high" property="high" />
        <result column="low" property="low" />
        <result column="close" property="close" />
        <result column="pre_close" property="preClose" />
        <result column="change" property="change" />
        <result column="pct_chg" property="pctChg" />
        <result column="vol" property="vol" />
        <result column="amount" property="amount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        ts_code as 'tsCode',
        trade_date as 'tradeDate',
        `open` as 'open',
        `high` as 'high',
        `low` as 'low',
        `close` as 'close',
        pre_close as 'preClose',
        `change` as 'change',
        pct_chg as 'pctChg',
        vol as 'vol',
        amount as 'amount'

    </sql>
    <!-- 通用查询条件 -->
    <sql id="BaseWhere">
        <trim prefix="where" prefixOverrides="and | or">
           <if test="dailyListReqVo.tsCode != null and dailyListReqVo.tsCode != ''">
               and ts_code = #{dailyListReqVo.tsCode}
           </if>
           <if test="dailyListReqVo.tradeDateStart != null and dailyListReqVo.tradeDateStart != ''">
               and trade_date >= #{dailyListReqVo.tradeDateStart}
           </if>
           <if test="dailyListReqVo.tradeDateEnd != null and dailyListReqVo.tradeDateEnd != ''">
               and trade_date &lt;= #{dailyListReqVo.tradeDateEnd}
           </if>
           <if test="dailyListReqVo.open != null and dailyListReqVo.open != ''">
               and `open` = #{dailyListReqVo.open}
           </if>
           <if test="dailyListReqVo.high != null and dailyListReqVo.high != ''">
               and `high` = #{dailyListReqVo.high}
           </if>
           <if test="dailyListReqVo.low != null and dailyListReqVo.low != ''">
               and `low` = #{dailyListReqVo.low}
           </if>
           <if test="dailyListReqVo.close != null and dailyListReqVo.close != ''">
               and `close` = #{dailyListReqVo.close}
           </if>
           <if test="dailyListReqVo.preClose != null and dailyListReqVo.preClose != ''">
               and pre_close = #{dailyListReqVo.preClose}
           </if>
           <if test="dailyListReqVo.change != null and dailyListReqVo.change != ''">
               and `change` = #{dailyListReqVo.change}
           </if>
           <if test="dailyListReqVo.pctChg != null and dailyListReqVo.pctChg != ''">
               and pct_chg = #{dailyListReqVo.pctChg}
           </if>
           <if test="dailyListReqVo.vol != null and dailyListReqVo.vol != ''">
               and vol = #{dailyListReqVo.vol}
           </if>
           <if test="dailyListReqVo.amount != null and dailyListReqVo.amount != ''">
               and amount = #{dailyListReqVo.amount}
           </if>
        </trim>
    </sql>

    <!-- 分页查询 -->
    <select id="selectDailyPageList" resultType="com.kk.business.quantization.model.vobase.res.DailyListResVo">
        select <include refid="BaseColumnList"/>
        from daily
        <include refid="BaseWhere"/>

    </select>



</mapper>
