<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.business.quantization.dao.mapper.DailyBasicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kk.business.quantization.dao.entity.DailyBasic">
        <id column="ts_code" property="tsCode" />
        <id column="trade_date" property="tradeDate" />
        <result column="close" property="close" />
        <result column="turnover_rate" property="turnoverRate" />
        <result column="turnover_rate_f" property="turnoverRateF" />
        <result column="volume_ratio" property="volumeRatio" />
        <result column="pe" property="pe" />
        <result column="pe_ttm" property="peTtm" />
        <result column="pb" property="pb" />
        <result column="ps" property="ps" />
        <result column="ps_ttm" property="psTtm" />
        <result column="dv_ratio" property="dvRatio" />
        <result column="dv_ttm" property="dvTtm" />
        <result column="total_share" property="totalShare" />
        <result column="float_share" property="floatShare" />
        <result column="free_share" property="freeShare" />
        <result column="total_mv" property="totalMv" />
        <result column="circ_mv" property="circMv" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        ts_code as 'tsCode',
        trade_date as 'tradeDate',
        close as 'close',
        turnover_rate as 'turnoverRate',
        turnover_rate_f as 'turnoverRateF',
        volume_ratio as 'volumeRatio',
        pe as 'pe',
        pe_ttm as 'peTtm',
        pb as 'pb',
        ps as 'ps',
        ps_ttm as 'psTtm',
        dv_ratio as 'dvRatio',
        dv_ttm as 'dvTtm',
        total_share as 'totalShare',
        float_share as 'floatShare',
        free_share as 'freeShare',
        total_mv as 'totalMv',
        circ_mv as 'circMv'

    </sql>
    <!-- 通用查询条件 -->
    <sql id="BaseWhere">
        <trim prefix="where" prefixOverrides="and | or">
           <if test="dailyBasicListReqVo.tsCode != null and dailyBasicListReqVo.tsCode != ''">
               and ts_code = #{dailyBasicListVo.tsCode}
           </if>
           <if test="dailyBasicListReqVo.tradeDateStart != null and dailyBasicListReqVo.tradeDateStart != ''">
               and trade_date >= #{dailyBasicListVo.tradeDateStart}
           </if>
           <if test="dailyBasicListReqVo.tradeDateEnd != null and dailyBasicListReqVo.tradeDateEnd != ''">
               and trade_date &lt;= #{dailyBasicListVo.tradeDateEnd}
           </if>
           <if test="dailyBasicListReqVo.close != null and dailyBasicListReqVo.close != ''">
               and close = #{dailyBasicListVo.close}
           </if>
           <if test="dailyBasicListReqVo.turnoverRate != null and dailyBasicListReqVo.turnoverRate != ''">
               and turnover_rate = #{dailyBasicListVo.turnoverRate}
           </if>
           <if test="dailyBasicListReqVo.turnoverRateF != null and dailyBasicListReqVo.turnoverRateF != ''">
               and turnover_rate_f = #{dailyBasicListVo.turnoverRateF}
           </if>
           <if test="dailyBasicListReqVo.volumeRatio != null and dailyBasicListReqVo.volumeRatio != ''">
               and volume_ratio = #{dailyBasicListVo.volumeRatio}
           </if>
           <if test="dailyBasicListReqVo.pe != null and dailyBasicListReqVo.pe != ''">
               and pe = #{dailyBasicListVo.pe}
           </if>
           <if test="dailyBasicListReqVo.peTtm != null and dailyBasicListReqVo.peTtm != ''">
               and pe_ttm = #{dailyBasicListVo.peTtm}
           </if>
           <if test="dailyBasicListReqVo.pb != null and dailyBasicListReqVo.pb != ''">
               and pb = #{dailyBasicListVo.pb}
           </if>
           <if test="dailyBasicListReqVo.ps != null and dailyBasicListReqVo.ps != ''">
               and ps = #{dailyBasicListVo.ps}
           </if>
           <if test="dailyBasicListReqVo.psTtm != null and dailyBasicListReqVo.psTtm != ''">
               and ps_ttm = #{dailyBasicListVo.psTtm}
           </if>
           <if test="dailyBasicListReqVo.dvRatio != null and dailyBasicListReqVo.dvRatio != ''">
               and dv_ratio = #{dailyBasicListVo.dvRatio}
           </if>
           <if test="dailyBasicListReqVo.dvTtm != null and dailyBasicListReqVo.dvTtm != ''">
               and dv_ttm = #{dailyBasicListVo.dvTtm}
           </if>
           <if test="dailyBasicListReqVo.totalShare != null and dailyBasicListReqVo.totalShare != ''">
               and total_share = #{dailyBasicListVo.totalShare}
           </if>
           <if test="dailyBasicListReqVo.floatShare != null and dailyBasicListReqVo.floatShare != ''">
               and float_share = #{dailyBasicListVo.floatShare}
           </if>
           <if test="dailyBasicListReqVo.freeShare != null and dailyBasicListReqVo.freeShare != ''">
               and free_share = #{dailyBasicListVo.freeShare}
           </if>
           <if test="dailyBasicListReqVo.totalMv != null and dailyBasicListReqVo.totalMv != ''">
               and total_mv = #{dailyBasicListVo.totalMv}
           </if>
           <if test="dailyBasicListReqVo.circMv != null and dailyBasicListReqVo.circMv != ''">
               and circ_mv = #{dailyBasicListVo.circMv}
           </if>
        </trim>
    </sql>

    <!-- 分页查询 -->
    <select id="selectDailyBasicPageList" resultType="com.kk.business.quantization.model.vobase.res.DailyBasicListResVo">
        select <include refid="BaseColumnList"/>
        from daily_basic
        <include refid="BaseWhere"/>

    </select>



</mapper>
