<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.business.quantization.dao.mapper.DailyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kk.business.quantization.dao.entity.Daily">
        <id column="ts_code" property="tsCode" />
        <id column="trade_date" property="tradeDate" />
        <result column="open" property="open" />
        <result column="high" property="high" />
        <result column="low" property="low" />
        <result column="close" property="close" />
        <result column="pre_close" property="preClose" />
        <result column="change" property="change" />
        <result column="pct_chg" property="pctChg" />
        <result column="vol" property="vol" />
        <result column="amount" property="amount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        ts_code as 'tsCode',
        trade_date as 'tradeDate',
        `open` as 'open',
        high as 'high',
        low as 'low',
        `close` as 'close',
        pre_close as 'preClose',
        `change` as 'change',
        pct_chg as 'pctChg',
        vol as 'vol',
        amount as 'amount'

    </sql>
    <!-- 通用查询条件 -->
    <sql id="BaseWhere">
        <trim prefix="where" prefixOverrides="and | or">
            <if test="dailyListVo.tsCode != null and dailyListVo.tsCode != ''">
                and ts_code = #{dailyListVo.tsCode}
            </if>
            <if test="dailyListVo.tradeDateStart != null and dailyListVo.tradeDateStart != ''">
                and trade_date >= #{dailyListVo.tradeDateStart}
            </if>
            <if test="dailyListVo.tradeDateEnd != null and dailyListVo.tradeDateEnd != ''">
                and trade_date &lt;= #{dailyListVo.tradeDateEnd}
            </if>
            <if test="dailyListVo.open != null and dailyListVo.open != ''">
                and `open` = #{dailyListVo.open}
            </if>
            <if test="dailyListVo.high != null and dailyListVo.high != ''">
                and high = #{dailyListVo.high}
            </if>
            <if test="dailyListVo.low != null and dailyListVo.low != ''">
                and low = #{dailyListVo.low}
            </if>
            <if test="dailyListVo.close != null and dailyListVo.close != ''">
                and `close` = #{dailyListVo.close}
            </if>
            <if test="dailyListVo.preClose != null and dailyListVo.preClose != ''">
                and pre_close = #{dailyListVo.preClose}
            </if>
            <if test="dailyListVo.change != null and dailyListVo.change != ''">
                and `change` = #{dailyListVo.change}
            </if>
            <if test="dailyListVo.pctChg != null and dailyListVo.pctChg != ''">
                and pct_chg = #{dailyListVo.pctChg}
            </if>
            <if test="dailyListVo.vol != null and dailyListVo.vol != ''">
                and vol = #{dailyListVo.vol}
            </if>
            <if test="dailyListVo.amount != null and dailyListVo.amount != ''">
                and amount = #{dailyListVo.amount}
            </if>
        </trim>
    </sql>

    <!-- 分页查询 -->
    <select id="selectPageList" resultType="com.kk.business.quantization.model.dto.DailyListDto">
        select <include refid="BaseColumnList"/>
        from daily
        <include refid="BaseWhere"/>
        order by trade_date desc
    </select>
    <select id="selectDailyExList" resultType="com.kk.business.quantization.model.dto.DailyKdjDto">
            select * from daily d
            left join stock_day_kdj kdj on kdj.ts_code = d.ts_code and d.trade_date = kdj.trade_date
            <where>
                <if test="vo.tsCode != null and vo.tsCode != ''">
                    and d.ts_code = #{vo.tsCode}
                </if>
                <if test="vo.kdjType != null and vo.kdjType != ''">
                    and kdj.kdj_type = #{vo.kdjType}
                </if>

                <if test="vo.tradeDate != null and vo.tradeDate != ''">
                    and d.trade_date = #{vo.tradeDate}
                </if>
                <if test="vo.startDate != null and vo.startDate != ''">
                    <![CDATA[ and d.trade_date >= #{vo.startDate} ]]>
                </if>
                <if test="vo.endDate != null and vo.endDate != ''">
                    <![CDATA[ and d.trade_date <= #{vo.endDate}]]>
                </if>
                <if test="vo.ids != null and vo.ids.size() >0 ">
                    and d.ts_code in
                    <foreach collection="vo.ids" item="code" index="index" open="(" close=")" separator=",">
                        #{code}
                    </foreach>
                </if>
            </where>
    </select>
    <select id="selectMaxMinByDateRange" resultType="com.kk.business.quantization.model.dto.SelectMaxMinByDateRangeDto">
        select max(d.`close`) 'max_close',min(d.`close`) 'min_close' ,d.ts_code from daily d

        where
            <![CDATA[ and d.trade_date >= #{vo.startDate} ]]>

            <![CDATA[ and d.trade_date <= #{vo.endDate}]]>

        group by ts_code
    </select>
</mapper>
