<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.business.quantization.dao.mapper.DailyMapper">

    <select id="selectDailyExList" resultType="com.kk.business.quantization.model.dto.DailyKdjDto">
            select * from daily d
            left join stock_day_kdj kdj on kdj.ts_code = d.ts_code and d.trade_date = kdj.trade_date
            <where>
                <if test="vo.tsCode != null and vo.tsCode != ''">
                    and d.ts_code = #{vo.tsCode}
                </if>
                <if test="vo.kdjType != null and vo.kdjType != ''">
                    and kdj.kdj_type = #{vo.kdjType}
                </if>

                <if test="vo.tradeDate != null and vo.tradeDate != ''">
                    and d.trade_date = #{vo.tradeDate}
                </if>
                <if test="vo.startDate != null and vo.startDate != ''">
                    <![CDATA[ and d.trade_date >= #{vo.startDate} ]]>
                </if>
                <if test="vo.endDate != null and vo.endDate != ''">
                    <![CDATA[ and d.trade_date <= #{vo.endDate}]]>
                </if>
                <if test="vo.ids != null and vo.ids.size() >0 ">
                    and d.ts_code in
                    <foreach collection="vo.ids" item="code" index="index" open="(" close=")" separator=",">
                        #{code}
                    </foreach>
                </if>
            </where>
    </select>
</mapper>
