<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.business.quantization.dao.mapper.IndexBasicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kk.business.quantization.dao.entity.IndexBasic">
        <id column="ts_code" property="tsCode" />
        <result column="name" property="name" />
        <result column="fullname" property="fullname" />
        <result column="market" property="market" />
        <result column="publisher" property="publisher" />
        <result column="index_type" property="indexType" />
        <result column="category" property="category" />
        <result column="base_date" property="baseDate" />
        <result column="base_point" property="basePoint" />
        <result column="list_date" property="listDate" />
        <result column="weight_rule" property="weightRule" />
        <result column="desc" property="desc" />
        <result column="exp_date" property="expDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        ts_code as 'tsCode',
        name as 'name',
        fullname as 'fullname',
        market as 'market',
        publisher as 'publisher',
        index_type as 'indexType',
        category as 'category',
        base_date as 'baseDate',
        base_point as 'basePoint',
        list_date as 'listDate',
        weight_rule as 'weightRule',
        desc as 'desc',
        exp_date as 'expDate'

    </sql>
    <!-- 通用查询条件 -->
    <sql id="BaseWhere">
        <trim prefix="where" prefixOverrides="and | or">
           <if test="indexBasicListReqVo.tsCode != null and indexBasicListReqVo.tsCode != ''">
               and ts_code = #{indexBasicListVo.tsCode}
           </if>
           <if test="indexBasicListReqVo.name != null and indexBasicListReqVo.name != ''">
               and name like concat('%',#{indexBasicListVo.name},'%')
           </if>
           <if test="indexBasicListReqVo.fullname != null and indexBasicListReqVo.fullname != ''">
               and fullname like concat('%',#{indexBasicListVo.fullname},'%')
           </if>
           <if test="indexBasicListReqVo.market != null and indexBasicListReqVo.market != ''">
               and market = #{indexBasicListVo.market}
           </if>
           <if test="indexBasicListReqVo.publisher != null and indexBasicListReqVo.publisher != ''">
               and publisher = #{indexBasicListVo.publisher}
           </if>
           <if test="indexBasicListReqVo.indexType != null and indexBasicListReqVo.indexType != ''">
               and index_type = #{indexBasicListVo.indexType}
           </if>
           <if test="indexBasicListReqVo.category != null and indexBasicListReqVo.category != ''">
               and category = #{indexBasicListVo.category}
           </if>
           <if test="indexBasicListReqVo.baseDateStart != null and indexBasicListReqVo.baseDateStart != ''">
               and base_date >= #{indexBasicListVo.baseDateStart}
           </if>
           <if test="indexBasicListReqVo.baseDateEnd != null and indexBasicListReqVo.baseDateEnd != ''">
               and base_date &lt;= #{indexBasicListVo.baseDateEnd}
           </if>
           <if test="indexBasicListReqVo.basePoint != null and indexBasicListReqVo.basePoint != ''">
               and base_point = #{indexBasicListVo.basePoint}
           </if>
           <if test="indexBasicListReqVo.listDateStart != null and indexBasicListReqVo.listDateStart != ''">
               and list_date >= #{indexBasicListVo.listDateStart}
           </if>
           <if test="indexBasicListReqVo.listDateEnd != null and indexBasicListReqVo.listDateEnd != ''">
               and list_date &lt;= #{indexBasicListVo.listDateEnd}
           </if>
           <if test="indexBasicListReqVo.weightRule != null and indexBasicListReqVo.weightRule != ''">
               and weight_rule = #{indexBasicListVo.weightRule}
           </if>
           <if test="indexBasicListReqVo.desc != null and indexBasicListReqVo.desc != ''">
               and desc = #{indexBasicListVo.desc}
           </if>
           <if test="indexBasicListReqVo.expDateStart != null and indexBasicListReqVo.expDateStart != ''">
               and exp_date >= #{indexBasicListVo.expDateStart}
           </if>
           <if test="indexBasicListReqVo.expDateEnd != null and indexBasicListReqVo.expDateEnd != ''">
               and exp_date &lt;= #{indexBasicListVo.expDateEnd}
           </if>
        </trim>
    </sql>

    <!-- 分页查询 -->
    <select id="selectIndexBasicPageList" resultType="com.kk.business.quantization.model.vobase.res.IndexBasicListResVo">
        select <include refid="BaseColumnList"/>
        from index_basic
        <include refid="BaseWhere"/>

    </select>



</mapper>
