<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.business.quantization.dao.mapper.IndexDailyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kk.business.quantization.dao.entity.IndexDaily">
        <id column="ts_code" property="tsCode" />
        <id column="trade_date" property="tradeDate" />
        <result column="close" property="close" />
        <result column="open" property="open" />
        <result column="high" property="high" />
        <result column="low" property="low" />
        <result column="pre_close" property="preClose" />
        <result column="change" property="change" />
        <result column="pct_chg" property="pctChg" />
        <result column="vol" property="vol" />
        <result column="amount" property="amount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        ts_code as 'tsCode',
        trade_date as 'tradeDate',
        close as 'close',
        open as 'open',
        high as 'high',
        low as 'low',
        pre_close as 'preClose',
        change as 'change',
        pct_chg as 'pctChg',
        vol as 'vol',
        amount as 'amount'

    </sql>
    <!-- 通用查询条件 -->
    <sql id="BaseWhere">
        <trim prefix="where" prefixOverrides="and | or">
           <if test="indexDailyListReqVo.tsCode != null and indexDailyListReqVo.tsCode != ''">
               and ts_code = #{indexDailyListReqVo.tsCode}
           </if>
           <if test="indexDailyListReqVo.tradeDateStart != null and indexDailyListReqVo.tradeDateStart != ''">
               and trade_date >= #{indexDailyListReqVo.tradeDateStart}
           </if>
           <if test="indexDailyListReqVo.tradeDateEnd != null and indexDailyListReqVo.tradeDateEnd != ''">
               and trade_date &lt;= #{indexDailyListReqVo.tradeDateEnd}
           </if>
           <if test="indexDailyListReqVo.close != null and indexDailyListReqVo.close != ''">
               and close = #{indexDailyListReqVo.close}
           </if>
           <if test="indexDailyListReqVo.open != null and indexDailyListReqVo.open != ''">
               and open = #{indexDailyListReqVo.open}
           </if>
           <if test="indexDailyListReqVo.high != null and indexDailyListReqVo.high != ''">
               and high = #{indexDailyListReqVo.high}
           </if>
           <if test="indexDailyListReqVo.low != null and indexDailyListReqVo.low != ''">
               and low = #{indexDailyListReqVo.low}
           </if>
           <if test="indexDailyListReqVo.preClose != null and indexDailyListReqVo.preClose != ''">
               and pre_close = #{indexDailyListReqVo.preClose}
           </if>
           <if test="indexDailyListReqVo.change != null and indexDailyListReqVo.change != ''">
               and change = #{indexDailyListReqVo.change}
           </if>
           <if test="indexDailyListReqVo.pctChg != null and indexDailyListReqVo.pctChg != ''">
               and pct_chg = #{indexDailyListReqVo.pctChg}
           </if>
           <if test="indexDailyListReqVo.vol != null and indexDailyListReqVo.vol != ''">
               and vol = #{indexDailyListReqVo.vol}
           </if>
           <if test="indexDailyListReqVo.amount != null and indexDailyListReqVo.amount != ''">
               and amount = #{indexDailyListReqVo.amount}
           </if>
        </trim>
    </sql>

    <!-- 分页查询 -->
    <select id="selectIndexDailyPageList" resultType="com.kk.business.quantization.model.vobase.res.IndexDailyListResVo">
        select <include refid="BaseColumnList"/>
        from index_daily
        <include refid="BaseWhere"/>

    </select>



</mapper>
