<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.business.quantization.dao.mapper.InfoSendQueueMapper">

    <update id="updateExMsgAndRunCount"  >
        update info_send_queue
        set ex_msg=#{exMsg}
        ,send_count=send_count+#{sendCount}
        ,ex_time=now()
        ,pre_send_time =DATE_ADD(pre_send_time,INTERVAL 2 MINUTE )
        where info_id =#{infoId}
    </update>

</mapper>
