<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.business.quantization.dao.mapper.KdjCrossMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kk.business.quantization.dao.entity.KdjCross">
        <id column="ts_code" property="tsCode" />
        <id column="trade_date" property="tradeDate" />
        <result column="cross_type" property="crossType" />
        <result column="analysis_type" property="analysisType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        ts_code as 'tsCode',
        trade_date as 'tradeDate',
        cross_type as 'crossType',
        analysis_type as 'analysisType'

    </sql>
    <!-- 通用查询条件 -->
    <sql id="BaseWhere">
        <trim prefix="where" prefixOverrides="and | or">
           <if test="kdjCrossListReqVo.tsCode != null and kdjCrossListReqVo.tsCode != ''">
               and ts_code = #{kdjCrossListVo.tsCode}
           </if>
           <if test="kdjCrossListReqVo.tradeDateStart != null and kdjCrossListReqVo.tradeDateStart != ''">
               and trade_date >= #{kdjCrossListVo.tradeDateStart}
           </if>
           <if test="kdjCrossListReqVo.tradeDateEnd != null and kdjCrossListReqVo.tradeDateEnd != ''">
               and trade_date &lt;= #{kdjCrossListVo.tradeDateEnd}
           </if>
           <if test="kdjCrossListReqVo.crossType != null and kdjCrossListReqVo.crossType != ''">
               and cross_type = #{kdjCrossListVo.crossType}
           </if>
           <if test="kdjCrossListReqVo.analysisType != null and kdjCrossListReqVo.analysisType != ''">
               and analysis_type = #{kdjCrossListVo.analysisType}
           </if>
        </trim>
    </sql>

    <!-- 分页查询 -->
    <select id="selectKdjCrossPageList" resultType="com.kk.business.quantization.model.vobase.res.KdjCrossListResVo">
        select <include refid="BaseColumnList"/>
        from kdj_cross
        <include refid="BaseWhere"/>

    </select>



</mapper>
