<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.business.quantization.dao.mapper.MoneyFlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kk.business.quantization.dao.entity.MoneyFlow">
        <id column="ts_code" property="tsCode" />
        <id column="trade_date" property="tradeDate" />
        <result column="buy_sm_vol" property="buySmVol" />
        <result column="buy_sm_amount" property="buySmAmount" />
        <result column="sell_sm_vol" property="sellSmVol" />
        <result column="sell_sm_amount" property="sellSmAmount" />
        <result column="buy_md_vol" property="buyMdVol" />
        <result column="buy_md_amount" property="buyMdAmount" />
        <result column="sell_md_vol" property="sellMdVol" />
        <result column="sell_md_amount" property="sellMdAmount" />
        <result column="buy_lg_vol" property="buyLgVol" />
        <result column="buy_lg_amount" property="buyLgAmount" />
        <result column="sell_lg_vol" property="sellLgVol" />
        <result column="sell_lg_amount" property="sellLgAmount" />
        <result column="buy_elg_vol" property="buyElgVol" />
        <result column="buy_elg_amount" property="buyElgAmount" />
        <result column="sell_elg_vol" property="sellElgVol" />
        <result column="sell_elg_amount" property="sellElgAmount" />
        <result column="net_mf_vol" property="netMfVol" />
        <result column="net_mf_amount" property="netMfAmount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        ts_code as 'tsCode',
        trade_date as 'tradeDate',
        buy_sm_vol as 'buySmVol',
        buy_sm_amount as 'buySmAmount',
        sell_sm_vol as 'sellSmVol',
        sell_sm_amount as 'sellSmAmount',
        buy_md_vol as 'buyMdVol',
        buy_md_amount as 'buyMdAmount',
        sell_md_vol as 'sellMdVol',
        sell_md_amount as 'sellMdAmount',
        buy_lg_vol as 'buyLgVol',
        buy_lg_amount as 'buyLgAmount',
        sell_lg_vol as 'sellLgVol',
        sell_lg_amount as 'sellLgAmount',
        buy_elg_vol as 'buyElgVol',
        buy_elg_amount as 'buyElgAmount',
        sell_elg_vol as 'sellElgVol',
        sell_elg_amount as 'sellElgAmount',
        net_mf_vol as 'netMfVol',
        net_mf_amount as 'netMfAmount'

    </sql>
    <!-- 通用查询条件 -->
    <sql id="BaseWhere">
        <trim prefix="where" prefixOverrides="and | or">
           <if test="moneyFlowListReqVo.tsCode != null and moneyFlowListReqVo.tsCode != ''">
               and ts_code = #{moneyFlowListReqVo.tsCode}
           </if>
           <if test="moneyFlowListReqVo.tradeDateStart != null and moneyFlowListReqVo.tradeDateStart != ''">
               and trade_date >= #{moneyFlowListReqVo.tradeDateStart}
           </if>
           <if test="moneyFlowListReqVo.tradeDateEnd != null and moneyFlowListReqVo.tradeDateEnd != ''">
               and trade_date &lt;= #{moneyFlowListReqVo.tradeDateEnd}
           </if>
           <if test="moneyFlowListReqVo.buySmVol != null and moneyFlowListReqVo.buySmVol != ''">
               and buy_sm_vol = #{moneyFlowListReqVo.buySmVol}
           </if>
           <if test="moneyFlowListReqVo.buySmAmount != null and moneyFlowListReqVo.buySmAmount != ''">
               and buy_sm_amount = #{moneyFlowListReqVo.buySmAmount}
           </if>
           <if test="moneyFlowListReqVo.sellSmVol != null and moneyFlowListReqVo.sellSmVol != ''">
               and sell_sm_vol = #{moneyFlowListReqVo.sellSmVol}
           </if>
           <if test="moneyFlowListReqVo.sellSmAmount != null and moneyFlowListReqVo.sellSmAmount != ''">
               and sell_sm_amount = #{moneyFlowListReqVo.sellSmAmount}
           </if>
           <if test="moneyFlowListReqVo.buyMdVol != null and moneyFlowListReqVo.buyMdVol != ''">
               and buy_md_vol = #{moneyFlowListReqVo.buyMdVol}
           </if>
           <if test="moneyFlowListReqVo.buyMdAmount != null and moneyFlowListReqVo.buyMdAmount != ''">
               and buy_md_amount = #{moneyFlowListReqVo.buyMdAmount}
           </if>
           <if test="moneyFlowListReqVo.sellMdVol != null and moneyFlowListReqVo.sellMdVol != ''">
               and sell_md_vol = #{moneyFlowListReqVo.sellMdVol}
           </if>
           <if test="moneyFlowListReqVo.sellMdAmount != null and moneyFlowListReqVo.sellMdAmount != ''">
               and sell_md_amount = #{moneyFlowListReqVo.sellMdAmount}
           </if>
           <if test="moneyFlowListReqVo.buyLgVol != null and moneyFlowListReqVo.buyLgVol != ''">
               and buy_lg_vol = #{moneyFlowListReqVo.buyLgVol}
           </if>
           <if test="moneyFlowListReqVo.buyLgAmount != null and moneyFlowListReqVo.buyLgAmount != ''">
               and buy_lg_amount = #{moneyFlowListReqVo.buyLgAmount}
           </if>
           <if test="moneyFlowListReqVo.sellLgVol != null and moneyFlowListReqVo.sellLgVol != ''">
               and sell_lg_vol = #{moneyFlowListReqVo.sellLgVol}
           </if>
           <if test="moneyFlowListReqVo.sellLgAmount != null and moneyFlowListReqVo.sellLgAmount != ''">
               and sell_lg_amount = #{moneyFlowListReqVo.sellLgAmount}
           </if>
           <if test="moneyFlowListReqVo.buyElgVol != null and moneyFlowListReqVo.buyElgVol != ''">
               and buy_elg_vol = #{moneyFlowListReqVo.buyElgVol}
           </if>
           <if test="moneyFlowListReqVo.buyElgAmount != null and moneyFlowListReqVo.buyElgAmount != ''">
               and buy_elg_amount = #{moneyFlowListReqVo.buyElgAmount}
           </if>
           <if test="moneyFlowListReqVo.sellElgVol != null and moneyFlowListReqVo.sellElgVol != ''">
               and sell_elg_vol = #{moneyFlowListReqVo.sellElgVol}
           </if>
           <if test="moneyFlowListReqVo.sellElgAmount != null and moneyFlowListReqVo.sellElgAmount != ''">
               and sell_elg_amount = #{moneyFlowListReqVo.sellElgAmount}
           </if>
           <if test="moneyFlowListReqVo.netMfVol != null and moneyFlowListReqVo.netMfVol != ''">
               and net_mf_vol = #{moneyFlowListReqVo.netMfVol}
           </if>
           <if test="moneyFlowListReqVo.netMfAmount != null and moneyFlowListReqVo.netMfAmount != ''">
               and net_mf_amount = #{moneyFlowListReqVo.netMfAmount}
           </if>
        </trim>
    </sql>

    <!-- 分页查询 -->
    <select id="selectMoneyFlowPageList" resultType="com.kk.business.quantization.model.vobase.res.MoneyFlowListResVo">
        select <include refid="BaseColumnList"/>
        from money_flow
        <include refid="BaseWhere"/>

    </select>



</mapper>
