<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.business.quantization.dao.mapper.StockBasicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kk.business.quantization.dao.entity.StockBasic">
        <id column="ts_code" property="tsCode" />
        <result column="symbol" property="symbol" />
        <result column="name" property="name" />
        <result column="area" property="area" />
        <result column="industry" property="industry" />
        <result column="fullname" property="fullname" />
        <result column="enname" property="enname" />
        <result column="market" property="market" />
        <result column="exchange" property="exchange" />
        <result column="curr_type" property="currType" />
        <result column="list_status" property="listStatus" />
        <result column="list_date" property="listDate" />
        <result column="delist_date" property="delistDate" />
        <result column="is_hs" property="isHs" />
        <result column="cnspell" property="cnspell" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        ts_code as 'tsCode',
        symbol as 'symbol',
        name as 'name',
        area as 'area',
        industry as 'industry',
        fullname as 'fullname',
        enname as 'enname',
        market as 'market',
        exchange as 'exchange',
        curr_type as 'currType',
        list_status as 'listStatus',
        list_date as 'listDate',
        delist_date as 'delistDate',
        is_hs as 'isHs',
        cnspell as 'cnspell'

    </sql>
    <!-- 通用查询条件 -->
    <sql id="BaseWhere">
        <trim prefix="where" prefixOverrides="and | or">
           <if test="stockBasicListReqVo.tsCode != null and stockBasicListReqVo.tsCode != ''">
               and ts_code = #{stockBasicListReqVo.tsCode}
           </if>
           <if test="stockBasicListReqVo.symbol != null and stockBasicListReqVo.symbol != ''">
               and symbol = #{stockBasicListReqVo.symbol}
           </if>
           <if test="stockBasicListReqVo.name != null and stockBasicListReqVo.name != ''">
               and name like concat('%',#{stockBasicListReqVo.name},'%')
           </if>
           <if test="stockBasicListReqVo.area != null and stockBasicListReqVo.area != ''">
               and area = #{stockBasicListReqVo.area}
           </if>
           <if test="stockBasicListReqVo.industry != null and stockBasicListReqVo.industry != ''">
               and industry = #{stockBasicListReqVo.industry}
           </if>
           <if test="stockBasicListReqVo.fullname != null and stockBasicListReqVo.fullname != ''">
               and fullname like concat('%',#{stockBasicListReqVo.fullname},'%')
           </if>
           <if test="stockBasicListReqVo.enname != null and stockBasicListReqVo.enname != ''">
               and enname like concat('%',#{stockBasicListReqVo.enname},'%')
           </if>
           <if test="stockBasicListReqVo.market != null and stockBasicListReqVo.market != ''">
               and market = #{stockBasicListReqVo.market}
           </if>
           <if test="stockBasicListReqVo.exchange != null and stockBasicListReqVo.exchange != ''">
               and exchange = #{stockBasicListReqVo.exchange}
           </if>
           <if test="stockBasicListReqVo.currType != null and stockBasicListReqVo.currType != ''">
               and curr_type = #{stockBasicListReqVo.currType}
           </if>
           <if test="stockBasicListReqVo.listStatus != null and stockBasicListReqVo.listStatus != ''">
               and list_status = #{stockBasicListReqVo.listStatus}
           </if>
           <if test="stockBasicListReqVo.listDateStart != null and stockBasicListReqVo.listDateStart != ''">
               and list_date >= #{stockBasicListReqVo.listDateStart}
           </if>
           <if test="stockBasicListReqVo.listDateEnd != null and stockBasicListReqVo.listDateEnd != ''">
               and list_date &lt;= #{stockBasicListReqVo.listDateEnd}
           </if>
           <if test="stockBasicListReqVo.delistDateStart != null and stockBasicListReqVo.delistDateStart != ''">
               and delist_date >= #{stockBasicListReqVo.delistDateStart}
           </if>
           <if test="stockBasicListReqVo.delistDateEnd != null and stockBasicListReqVo.delistDateEnd != ''">
               and delist_date &lt;= #{stockBasicListReqVo.delistDateEnd}
           </if>
           <if test="stockBasicListReqVo.isHs != null and stockBasicListReqVo.isHs != ''">
               and is_hs = #{stockBasicListReqVo.isHs}
           </if>
           <if test="stockBasicListReqVo.cnspell != null and stockBasicListReqVo.cnspell != ''">
               and cnspell = #{stockBasicListReqVo.cnspell}
           </if>
        </trim>
    </sql>

    <!-- 分页查询 -->
    <select id="selectStockBasicPageList" resultType="com.kk.business.quantization.model.vobase.res.StockBasicListResVo">
        select <include refid="BaseColumnList"/>
        from stock_basic
        <include refid="BaseWhere"/>

    </select>



</mapper>
