<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.business.quantization.dao.mapper.StockDayKdjMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kk.business.quantization.dao.entity.StockDayKdj">
        <id column="ts_code" property="tsCode" />
        <id column="trade_date" property="tradeDate" />
        <result column="k_value" property="kValue" />
        <result column="d_value" property="dValue" />
        <result column="j_value" property="jValue" />
        <result column="rsv" property="rsv" />
        <result column="kdj_type" property="kdjType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        ts_code as 'tsCode',
        trade_date as 'tradeDate',
        k_value as 'kValue',
        d_value as 'dValue',
        j_value as 'jValue',
        rsv as 'rsv',
        kdj_type as 'kdjType'

    </sql>
    <!-- 通用查询条件 -->
    <sql id="BaseWhere">
        <trim prefix="where" prefixOverrides="and | or">
           <if test="stockDayKdjListReqVo.tsCode != null and stockDayKdjListReqVo.tsCode != ''">
               and ts_code = #{stockDayKdjListReqVo.tsCode}
           </if>
           <if test="stockDayKdjListReqVo.tradeDateStart != null and stockDayKdjListReqVo.tradeDateStart != ''">
               and trade_date >= #{stockDayKdjListReqVo.tradeDateStart}
           </if>
           <if test="stockDayKdjListReqVo.tradeDateEnd != null and stockDayKdjListReqVo.tradeDateEnd != ''">
               and trade_date &lt;= #{stockDayKdjListReqVo.tradeDateEnd}
           </if>
           <if test="stockDayKdjListReqVo.kValue != null and stockDayKdjListReqVo.kValue != ''">
               and k_value = #{stockDayKdjListReqVo.kValue}
           </if>
           <if test="stockDayKdjListReqVo.dValue != null and stockDayKdjListReqVo.dValue != ''">
               and d_value = #{stockDayKdjListReqVo.dValue}
           </if>
           <if test="stockDayKdjListReqVo.jValue != null and stockDayKdjListReqVo.jValue != ''">
               and j_value = #{stockDayKdjListReqVo.jValue}
           </if>
           <if test="stockDayKdjListReqVo.rsv != null and stockDayKdjListReqVo.rsv != ''">
               and rsv = #{stockDayKdjListReqVo.rsv}
           </if>
           <if test="stockDayKdjListReqVo.kdjType != null and stockDayKdjListReqVo.kdjType != ''">
               and kdj_type = #{stockDayKdjListReqVo.kdjType}
           </if>
        </trim>
    </sql>

    <!-- 分页查询 -->
    <select id="selectStockDayKdjPageList" resultType="com.kk.business.quantization.model.vobase.res.StockDayKdjListResVo">
        select <include refid="BaseColumnList"/>
        from stock_day_kdj
        <include refid="BaseWhere"/>

    </select>



</mapper>
