<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.business.quantization.dao.mapper.WeeklyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kk.business.quantization.dao.entity.Weekly">
        <id column="ts_code" property="tsCode" />
        <id column="trade_date" property="tradeDate" />
        <result column="open" property="open" />
        <result column="high" property="high" />
        <result column="low" property="low" />
        <result column="close" property="close" />
        <result column="pre_close" property="preClose" />
        <result column="change" property="change" />
        <result column="pct_chg" property="pctChg" />
        <result column="vol" property="vol" />
        <result column="amount" property="amount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        ts_code as 'tsCode',
        trade_date as 'tradeDate',
        open as 'open',
        high as 'high',
        low as 'low',
        close as 'close',
        pre_close as 'preClose',
        change as 'change',
        pct_chg as 'pctChg',
        vol as 'vol',
        amount as 'amount'

    </sql>
    <!-- 通用查询条件 -->
    <sql id="BaseWhere">
        <trim prefix="where" prefixOverrides="and | or">
           <if test="weeklyListReqVo.tsCode != null and weeklyListReqVo.tsCode != ''">
               and ts_code = #{weeklyListReqVo.tsCode}
           </if>
           <if test="weeklyListReqVo.tradeDateStart != null and weeklyListReqVo.tradeDateStart != ''">
               and trade_date >= #{weeklyListReqVo.tradeDateStart}
           </if>
           <if test="weeklyListReqVo.tradeDateEnd != null and weeklyListReqVo.tradeDateEnd != ''">
               and trade_date &lt;= #{weeklyListReqVo.tradeDateEnd}
           </if>
           <if test="weeklyListReqVo.open != null and weeklyListReqVo.open != ''">
               and open = #{weeklyListReqVo.open}
           </if>
           <if test="weeklyListReqVo.high != null and weeklyListReqVo.high != ''">
               and high = #{weeklyListReqVo.high}
           </if>
           <if test="weeklyListReqVo.low != null and weeklyListReqVo.low != ''">
               and low = #{weeklyListReqVo.low}
           </if>
           <if test="weeklyListReqVo.close != null and weeklyListReqVo.close != ''">
               and close = #{weeklyListReqVo.close}
           </if>
           <if test="weeklyListReqVo.preClose != null and weeklyListReqVo.preClose != ''">
               and pre_close = #{weeklyListReqVo.preClose}
           </if>
           <if test="weeklyListReqVo.change != null and weeklyListReqVo.change != ''">
               and change = #{weeklyListReqVo.change}
           </if>
           <if test="weeklyListReqVo.pctChg != null and weeklyListReqVo.pctChg != ''">
               and pct_chg = #{weeklyListReqVo.pctChg}
           </if>
           <if test="weeklyListReqVo.vol != null and weeklyListReqVo.vol != ''">
               and vol = #{weeklyListReqVo.vol}
           </if>
           <if test="weeklyListReqVo.amount != null and weeklyListReqVo.amount != ''">
               and amount = #{weeklyListReqVo.amount}
           </if>
        </trim>
    </sql>

    <!-- 分页查询 -->
    <select id="selectWeeklyPageList" resultType="com.kk.business.quantization.model.vobase.res.WeeklyListResVo">
        select <include refid="BaseColumnList"/>
        from weekly
        <include refid="BaseWhere"/>

    </select>



</mapper>
